@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Questrial&display=swap');

/* Styling the Navbar */
.logo {
    /* cursor: pointer; */
    padding: 0;
    width: 80px;
    height: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    height: auto;
}

.nav_links li {
    display: inline-block;
    transition: scale 0.3s;
}

.nav_links li a {

    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #7c8e8e;
    text-decoration: none;
    letter-spacing: 1px;

    padding-left: 30px;
    transition: color 0.7s;
}


.nav_links li:hover {
    scale: 1.08;
    cursor: default;
}

.nav_links li a:hover {
    color: #151515;
}

.fav_span {
    color: #151515;
    font-size: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}