@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6E1D3;


}

#head {
    /* margin-top: 0; */
    background-color: #DAEAF1;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    /* border-radius: 5px; */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #000;
    font-size: 40px;
}

section {
    height: 100%;
}

p {
    font-family: 'Quicksand',
        sans-serif;
    font-size: 20px;
}

/* section {
    height: 700px;

} */

.container_amt {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 0px;
}

.container_amt p {
    font-size: 35px;
    margin: 10px;

}

.container_total {
    display: flex;
    justify-content: center;

}

.container_total p {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}

.container_total_amt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_total_amt p {
    padding: 55px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 30px;
    margin: 10px;

}

.credit {
    color: #00C0A3;
}

.debit {
    color: #ff0511;
}

#form {
    text-align: center;
    padding: 10px;
}

#form :nth-child(1n) {
    margin: 10px;
}

#form :first-child {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

#enter_amt {
    width: 90px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

#cr_cat {
    display: none;
}

#dr_cat {
    display: none;
}

.table_div {
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 250px; */
}

.main_div {
    background-color: white;
    /* width: 300px; */
    height: auto;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 15px;

}

#enter_amt {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 8px;
}

#cr_ch,
#dr_ch {
    font-family: 'Quicksand';
    font-size: 20px;
    /* padding: 0; */
}

#submit {
    height: 35px;
    width: 70px;
    font-family: 'Quicksand';
    letter-spacing: 1.5px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: rgb(165, 105, 221);
    color: #DAEAF1;
}

.table_div th {
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 0;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 20px;
}

.delete_bt {
    color: black;

}

.debit_elem {
    color: red;
    font-size: 20px;
}

.credit_elem {
    color: green;
    font-size: 20px;
}