@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

#logo {
    /* width: 30px; */
    cursor: pointer;
    padding: 0;
}

#logo img {
    width: 20%;
    height: 20%;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(36, 36, 81, 0);

} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    height: auto;
}

.nav_links li {
    display: inline-block;
    transition: scale 0.5s;
}

.nav_links li a {

    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: azure;
    text-decoration: none;

    padding-left: 60px;
    transition: color 1s;
}


.nav_links li:hover {
    scale: 1.08;
    cursor: default;
}

.nav_links li a:hover {
    color: cyan;
}

.bg_video {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: auto;
}

/* @media (min_aspect_ratio: 16/9) {
    .bg_video {
        width: 100%;
        height: auto;
    }
}

@media (max_aspect_ratio: 16/9) {
    .bg_video {
        width: auto;
        height: 100%;
    }
} */

.heading h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    margin-top: 150px;
    font-size: 100px;
}

.heading h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 70px;
}

.sec1 {
    margin-top: 270px;
    background-color: black;
    text-align: center;
    height: auto;
    margin-bottom: 0px;
    border-bottom: 1px dotted whitesmoke;
}

.sec1 h2 {
    border-top: 1px dotted whitesmoke;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.project {

    display: flex;
    color: white;

}

.project div {
    width: 100%;
    height: auto;
}

.project img {
    height: auto;
    width: 80%;
    /* flex: 1; */
}

.project .image {
    height: auto;
    width: 100%;
    border-right: 1px dotted white;
}

.text {
    /* padding: 25px; */
    padding-top: 100px;
    border-left: 1px dotted white;
}

.text p {
    padding: 70px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    font-size: large;
    line-height: 50px;

}

.text h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}

.text h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 0;
}

.sec2 {
    margin-top: 0px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(7, 0, 86));
    padding: 25px;
    text-align: center;
    color: #fff;
}

.sec2 h2 {
    margin-top: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sec2 p {
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    line-height: 50px;
}

.sec3 {
    margin-top: 0px;
    background-image: linear-gradient(to bottom right, rgb(2, 0, 27), rgb(0, 0, 0));
    text-align: center;
}

.sec3 h2 {
    margin-top: 0;
    padding: 25px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
.sec3 div {
    display: flex;
    justify-content: center;
} */

.sec3 div img {
    width: auto;
    height: 150px;
    padding: 10px;

}

.sec3 div {
    border-bottom: 2px solid whitesmoke;
}

.sec3 p {
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    line-height: 50px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
    padding-top: 0;
}

footer h3 {
    margin-bottom: 0;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}

/* .sec3 div {
    display: flex;
} */

/* .image {
    border-right: 5px solid white;
    padding-left: 70px;
    padding-right: 30px;
} */

/* .text {
    color: #fff;
    /* width: 50%;
    padding-left: 130px;} */