* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.input {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: black; */
    color: white;
}

.input div {
    margin: 5px;
}


.input_bts {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.input_bts button {
    margin: 5px;
}

.input2 {
    display: none;

}

.io-box {
    height: 600px;
    width: 1100px;
    background-color: black;
    border: white 10px solid;
    /* padding: 0; */
    left: 0;
    margin: auto;
    margin-top: 50px;
    border-radius: 40px;
    transition: width 0.5s, height 0.5s;
}

.cover_p {
    text-align: center;
}

.cover_p:hover {
    cursor: pointer;
}

.cover_p img {
    height: 605px;
    width: 1105px;
    /* padding-top: 20px; */
    padding: 0;
    border-radius: 20px;

}

#takepic_bt {
    background-color: white;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.input_bts button {
    /* background-color: white; */
    margin: 35px;
    padding: 30px 60px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    border-radius: 10px;
}

#search_box {
    background-color: #D9D9D9;
    border-radius: 30px;
    margin-top: 80px;
    text-align: center;

    padding: 20px 180px;

}



.input2 {
    left: 0;
    margin: auto;
    text-align: center;
    /* margin-top: 50px; */
    background-color: #D9D9D9;
    height: 550px;
    width: 801px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;

    /* display: flex; */
}


.input2 form {
    background-color: white;
    padding: 40px;
    height: 350px;
    width: 600px;
    border-radius: 15px;
}

.input2 form button {
    margin-top: 60px;
    padding: 15px 60px;
    border-radius: 10px;
    border: 0;
    background-color: black;
    color: white;
}

.output1 {
    display: none;
    left: 0;
    margin: auto;
    text-align: center;
    /* margin-top: 50px; */
    background-color: #D9D9D9;
    height: 550px;
    width: 801px;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#back_bt {
    margin-top: 10px;
    padding: 15px 40px;
    border-radius: 10px;
    border: 0;
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
}

.output1 div {
    background-color: white;
    padding: 40px;
    height: 350px;
    width: 600px;
    border-radius: 15px;
}

.pic_container {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.pic_container img {
    width: 150px;
    height: 150px;
    /* margin: 0; */
    margin: 15px;
    border: white 1px dashed;
}

.output2 {
    background-color: #D9D9D9;
    height: 550px;
    width: 801px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    /* border: white 2px dashed; */
    flex-direction: column-reverse;
    border-radius: 25px;
}

canvas {
    border: black 2px dotted;

}

#back_bt2 {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 0;
    background-color: black;
    color: white;
}

#canvas2 {
    display: none;
    align-items: center;
    justify-content: center;

}