@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Questrial&display=swap');

/* Setting up basic options in the HTML page*/
* {
    margin: 0;
    padding: 0;
}



html {
    scroll-behavior: smooth;
}

#homepage {
    background-image: url("./assets/cover_photo1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    /* height: 740px;
    width: 1500px; */
    height: auto;
    width: auto;
    text-align: center;
    padding-top: 20px;
    /* display: flex; */
}


#homepage p {
    /* margin-top: 600px; */
    padding-top: 520px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Comforter Brush', cursive;
    color: black;
    letter-spacing: 3px;

}

#homepage a img {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;

}

.user-setup {
    text-align: center;
}

#user-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.match-page {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* #section3 {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} */

#section2,
#section3 {
    background-image: url("./assets/section2.png");

    background-size: auto;
    background-position: center;
    height: auto;
    width: auto;
    text-align: center;
    background-repeat: no-repeat;
    /* padding-top: 20px; */

}


#user-form input {
    margin: 25px;
    padding: 7px 54px;
    background-color: #fae3f8;
    color: black;
    border: 0;
    border-bottom: 2px solid black;
    font-family: "Questrial";
    text-align: center;
}

#user-form input::placeholder {
    color: gray;
    font-family: "Questrial";
    font-size: 15px;
    letter-spacing: 2px;
}

#user-form {
    font-family: "Questrial";
    font-size: 15px;
    letter-spacing: 2px;
}

#heading-sec2 {
    padding-top: 50px;
    font-family: "Questrial";
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

#submit-bt,
#back_bt {
    margin: 40px;
    padding: 15px 45px;
    border-radius: 10px;
    border: 0;
    background-color: black;
    color: white;
    font-family: "Questrial";
    letter-spacing: 1.5px;
    margin-bottom: 80px;
}

#back_bt {
    background-color: gray;
}

#submit-bt:hover {
    cursor: pointer;
}

.match-page p {
    font-size: 25px;
    font-family: "Questrial";
    padding: 15px;
}

.match-page p:nth-of-type(1) {
    font-size: 50px;
    font-family: "Questrial";
    padding: 25px;
}

.profile-pic {
    margin-top: 50px;
    height: 300px;
    width: 300px;
    border-radius: 300px;
}

/* #male,
#female {
    background-color: #fae3f8;
    padding: 30px;

} */